@import "mixin.less";
@import "variables.less";

/*** RESETS ******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

nav {
    .desktop-vh();
    min-height: 2vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: @white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .nav-overlay {
        .desktop-sizing();
        .flex-box-sp();

        .left-nav {
            padding: 1rem 0;
            width: 7%;
        }

        .right-nav {
            .flex-box();
            gap: 2rem;

            ul {
                .flex-box();
                gap: 3rem;

                &> :first-child>a {
                    color: @orange;
                }

                a {
                    .bold-text();
                    font-size: .9rem;
                }
            }

            button {
                .button-orange()
            }
        }

        .burger-nav {
            display: none;
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        min-height: 2vh;

        .nav-overlay {
            .tablet-sizing();
            .flex-box-sp();

            .left-nav {
                padding: 1rem 0;
                width: 7%;
            }

            .right-nav {
                display: none;
            }

            .burger-nav {
                display: block;

                i {
                    border: .5px solid @light-gray-border;
                    padding: .5rem 1rem;
                    font-size: 1.5rem;
                    border-radius: .4rem;
                    color: @light-gray;
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        min-height: 2vh;

        .nav-overlay {
            .mobile-sizing();
            .flex-box-sp();

            .left-nav {
                padding: 1rem 0;
                width: 9%;
            }

            .right-nav {
                display: none;
            }

            .burger-nav {
                display: block;

                i {
                    border: .5px solid @light-gray-border;
                    padding: .5rem 1rem;
                    font-size: 1.5rem;
                    border-radius: .4rem;
                    color: @light-gray;
                }
            }
        }
    }
}

header {
    .desktop-vh();
    min-height: 85vh;
    position: relative;
    border: 1px solid @border;

    .header-overlay {
        min-height: 85vh;
        overflow-y: hidden;
        position: relative;
        .desktop-sizing();
        .flex-box();
        gap: 2rem;

        .left-header {
            width: 49%;

            p {
                .bold-text-big();
            }

            h2 {
                .title();
                font-size: 4.7rem;
            }

            h1 {
                .norm-text();
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            button {
                .button-orange();
                text-transform: uppercase;
            }

            .black-button {
                .button-orange();
                text-transform: uppercase;
                background-color: @gray;

                &:hover {
                    background-color: @black;
                }
            }

            ul {
                margin-top: 1rem;
                .flex-box();

                li {
                    border: 2px solid @orange;
                    padding: 1rem 1.2rem;
                    border-radius: 50%;

                    a {
                        color: @dark-orange;
                    }
                }

                .g {
                    padding: 1rem;
                }
            }
        }

        .right-header {
            img {
                width: 58%;
                position: absolute;
                top: -10%;
                right: 0;
            }
        }
    }

    .statistics {
        .flex-box();
        justify-content: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid @border;
        background-color: @white;
        max-width: 60%;
        height: 18%;
        border-radius: 6rem 6rem 5rem 5rem;
        position: absolute;
        bottom: -3rem;
        z-index: 3;

        .statistics-info {

            // padding-top: 1.5rem;
            h3 {
                .title();
                font-weight: 500;
                // font-size: 1.8rem;
                border-right: 1px solid @border;
                padding: 0 4rem;
            }

            p {
                .norm-text();
                color: @light-gray;
                text-align: center;
                // padding-bottom: 1.5rem;
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .tablet-vh();
        padding-bottom: 2rem;

        .header-overlay {
            .tablet-vh();
            min-height: 50vh;
            overflow-y: hidden;
            position: relative;
            .tablet-sizing();
            .flex-box-cc();
            gap: 2rem;

            .left-header {
                width: 70%;

                p {
                    .bold-text-big();

                }

                h2 {
                    .title();
                    font-size: 4.7rem;
                }

                h1 {
                    .norm-text();
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                button {
                    .button-orange();
                    text-transform: uppercase;
                }

                .black-button {
                    .button-orange();
                    text-transform: uppercase;
                    background-color: @gray;

                    &:hover {
                        background-color: @black;
                    }
                }

                ul {
                    margin-top: 1rem;
                    .flex-box();

                    li {
                        border: 2px solid @orange;
                        padding: 1rem 1.2rem;
                        border-radius: 50%;

                        a {
                            color: @dark-orange;
                        }
                    }

                    .g {
                        padding: 1rem;
                    }
                }
            }

            .right-header {
                display: none;
            }
        }

        .statistics {
            .flex-box();
            width: 100%;
            padding: 0 2rem;
            height: 17%;
            border-radius: 5rem 5rem;

            .statistics-info {
                h3 {
                    .title-tab();
                    font-weight: 500;
                    border-right: 1px solid @border;
                    padding: 0 3rem;
                }

                p {
                    .norm-text();
                    font-size: .9rem;
                    color: @light-gray;
                    text-align: center;
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        .mobile-vh();
        padding-bottom: 2rem;

        .header-overlay {
            .mobile-vh();
            overflow-y: hidden;
            position: relative;
            .mobile-sizing();
            .flex-box-cc();
            gap: 2rem;

            .left-header {
                width: 100%;
                padding-left: 3rem;

                h2 {
                    .title();
                    font-size: 2.8rem;
                }

                h1 {
                    .norm-text();
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                button {
                    .button-orange();
                    font-size: .9rem;
                    border-radius: 1.5rem;
                    text-transform: uppercase;
                }

                .black-button {
                    .button-orange();
                    font-size: .9rem;
                    text-transform: uppercase;
                    background-color: @gray;

                    &:hover {
                        background-color: @black;
                    }
                }

                ul {
                    margin-top: 1rem;
                    .flex-box();

                    li {
                        border: 2px solid @orange;
                        padding: .9rem 1rem;
                        border-radius: 50%;

                        a {
                            color: @dark-orange;

                            i {
                                font-size: .9rem;
                            }
                        }
                    }

                    .g {
                        padding: .9rem;
                    }
                }
            }

            .right-header {
                display: none;
            }
        }

        .statistics {
            .flex-box();
            justify-content: space-between;
            min-width: 90vw;
            padding: 0 2rem;
            height: 15%;
            border-radius: 5rem 5rem;
            bottom: -1.3rem;

            .statistics-info {
                .flex-box-cc();

                h3 {
                    .norm-text();
                    font-weight: 500;
                    border-right: 1px solid @border;
                    padding: 0;
                }

                p {
                    .norm-text();
                    font-size: .9rem;
                    color: @light-gray;
                    text-align: center;
                }
            }
        }
    }
}

.about {
    .desktop-vh();
    min-height: 85vh;

    .about-overlay {
        min-height: 85vh;
        .desktop-sizing();
        .flex-box();
        gap: 2rem;

        .left-about {
            width: 25%;

            img {
                border: .2rem inset @border;
            }
        }

        .right-about {
            width: 73%;
            .maket();

            h3 {
                .maket();
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .tablet-vh();
        margin: 2rem 0 ;
        .about-overlay {
            min-height: 40vh;
            .tablet-sizing();
            .flex-box();
            gap: 2rem;

            .left-about {
                min-width: 30%;

                img {
                    border: .2rem inset @border;
                }
            }

            .right-about {
                width: 69%;
                .maket();

                h2 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1rem;
                }

                button {
                    font-size: .9rem;
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        .mobile-vh();
        position: relative;
        margin: 3rem 0;

        .about-overlay {
            min-height: 50vh;
            .mobile-sizing();
            .flex-box-cc();
            gap: 2rem;

            .left-about {
                min-width: 70%;

                img {
                    border: .2rem inset @border;
                }
            }

            .right-about {
                .flex-box-cc();

                width: 100%;
                .maket();

                h2 {
                    font-size: 1.8rem;
                    text-align: center;
                }

                p {
                    font-size: 1rem;
                    text-align: center;

                }

                button {
                    font-size: .9rem;
                }
            }
        }
    }
}

.service {
    .desktop-vh();
    min-height: 85vh;

    .service-overlay {
        .desktop-sizing();

        .service-title {
            .flex-box-cc();
            .maket();

            h3 {
                margin: 0;
            }

            h2 {
                text-align: center;
                padding-bottom: 1rem;
            }

            p {
                width: 70%;
                text-align: center;
            }
        }

        .service-cards {
            margin-top: 5rem;
            .flex-box-sp();
            gap: 1rem;

            .service-card {
                .flex-box-cc();
                width: 17.5rem;
                height: 14rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
                border: 1px solid @border;
                border-radius: .2rem;
                transition: .1s linear;

                &:hover {
                    background-color: @orange;
                    border: 1px solid @border-orange;
                }

                &:hover i {
                    color: @white;
                }

                &:hover h2 {
                    color: @white;
                }

                i {
                    font-size: 2rem;
                    color: @orange;
                }

                h2 {
                    .title();
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding-top: .5rem;
                }
            }
        }

        .skills-cards{
            margin-top: 5rem;
            .flex-box-sp();
            flex-wrap: wrap;
            gap: 1rem;
            .skills-card{
                width: 48.5%;
                margin-bottom: 2rem;
                h2{
                    .norm-text();
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                .skills-card-line{
                    width: 100%;
                    height: .2rem;
                    border-radius: .2rem;
                    background-color: @light-gray-border;
                }
                .skills-card-overlay{
                    width: 80%;
                    height: .2rem;
                    background-color: @orange;
                }
                .first-skills-overlay{
                    width: 90%;
                }
                .second-skills-overlay{
                    width: 85%;
                }
                .third-skills-overlay{
                    width: 97%;
                }
                .fourth-skills-overlay{
                    width: 93%;
                }
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .tablet-vh();
        margin-top: 3rem;
        .service-overlay {
            .tablet-sizing();

            .service-cards{
                justify-content: center;
                flex-wrap: wrap;

                .service-card{
                    width: 48%;
                }
            }

            .skills-cards{
                margin-top: 5rem;
                .flex-box-sp();
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        .mobile-vh();
    
        .service-overlay {
            .mobile-vh();
            .mobile-sizing();
        
            .service-cards {
                margin-top: 5rem;
                .flex-box-cc();
                width: 100%;
                .service-card{
                width: 100%;

                }
            }

            .skills-cards{
                margin-top: 5rem;
                width: 100%;
                .flex-box-cc();
                .skills-card{
                    width: 100%;
                }
            }
        }
    }
}